.cart-main-container {
    width: 100vw;
    height: 100%;
    padding: 40px;
}

.cart-empty h2 {
    color: #6d7f91;
    
}

.cart-title-container {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    min-height: 1px;
}

.cart-title-container::after {
    position: relative;
    top: 15px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(109,127,145,0.2);
    flex-grow: 1;
    content: '';
}

.cart-title{
    display: flex;
    width: 400px;
    height: auto;
    padding: 0;
    font-size: 34px;
    font-weight: 700;
    color: #6d7f91;
    align-items: center;
}

.cart-title-empty{
    margin: 20px 0 20px 0;
}

.cart-navegation {
    display:  flex;
    text-align: left;
    align-items: center;
    margin-bottom: 30px;
}

.cart-navegation a {
    text-decoration: none;
}

.checkout {
    border: 2px solid #1E55B3;
    width: 100%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: #f3f3f3;
    margin-top: 30px;
    padding: 20px;
}

.checkout >* {
    display: flex;
    font-size: 24px;
    color: #6d7f91;
}

.checkout-subtotal >* {
    font-weight: 200;
}

.checkout-delivery >* {
    font-weight: 200;
}

.checkout-total {
    font-weight: 600;
}

.buyButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}