@import "../../variables.css";

.cart-main-container {
    width: 100vw;
    height: 100%;
    padding: 40px;
}

.cart-empty h2 {
    color: var(--text-color);
    
}

.cart-title-container {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    min-height: 1px;
}

.cart-title-container::after {
    position: relative;
    top: 15px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(109,127,145,0.2);
    flex-grow: 1;
    content: '';
}

.cart-title{
    display: flex;
    width: 400px;
    height: auto;
    padding: 0;
    font-size: 34px;
    font-weight: 700;
    color: var(--text-color);
    align-items: center;
}

.cart-title-empty{
    margin: 20px 0 20px 0;
}

.cart-navegation {
    display:  flex;
    text-align: left;
    align-items: center;
    margin-bottom: 30px;
}

.cart-navegate {
    cursor: pointer;
    color: #1E55B3;
    text-decoration: none;
}

.checkout {
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--text-color);
    box-shadow: 0px 4px 12px 1px rgba(0,0,0,0.25);
    margin-top: 30px;
    padding: 20px;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 24px;
}

.checkout >* {
    display: flex;
    font-size: 24px;
    color: #fff;
}

.checkout-subtotal >* {
    font-weight: 200;
}

.checkout-delivery >* {
    font-weight: 200;
}

.checkout-total {
    font-weight: 600;
}

.buyButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}