@import "../../variables.css";

.Detail__main-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.Detail__navegation {
    cursor: pointer;
    text-align: left;
    color: var(--text-color);
    margin: 24px;
    font-size: 1em;
    transition: 0.3s ease-out;
}

.Detail__navegation:hover {
    color: var(--main-color);
}

.gallery__image-container {
    width: 100%;
    height: auto;
}

.gallery__image-container > img {
    height: 100%;
    width: auto;
    max-height: 500px;
    max-width: 100%;
}

.details {
    padding: 20px;
    border-bottom: 1px solid var(--text-color);
}

.details__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--main-color);
    font-size: 1.7em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
}

.details__description {
    text-align: left;
    font-size: 0.94em;
    color: var(--text-color);
    line-height: 24px;
    margin-bottom: 2rem;
}

.details__prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    color: var(--text-color);
}

.details__now {
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 18px;
}

.details__discount {
    font-size: 0.5em;
    color: var(--secondary-color);
    background-color: var(--secondary-color-pale);
    border-radius: 4px;
    padding: 4px;
}

.details__before {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: line-through;
    font-weight: 700;
}

.details__product-stock {
    text-align: left;
    font-size: 0.8em;
    color: var(--text-color);
}

@media (min-width: 460px){
    
}

@media (min-width: 750px){
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px;
    }

    .details__description {
        text-align: left;
    }
}