.widget-container{
    display: flex;
    font-size: 14px;
    color: #1E55B3;
    padding: 10px;
}

.widget-link {
    margin-right: 10px;
}

.widget-details {
    display: flex;
    color: #1E55B3;
}