@import "../../variables.css";

.widget-container{
    display: flex;
    font-size: 14px;
    color: #fff;
    padding: 10px;
}

.widget-link {
    margin-right: 10px;
}

.widget-details {
    display: flex;
    color: #fff;
}

.widget__counter--price {
    color: var(--green-color);
}