@import "../../variables.css";

.widget-container{
    display: none;
    font-size: 14px;
    padding: 10px;
}

.widget-container a {
    text-decoration: none;
    color: var(--main-color);
}

.widget-link {
    margin-right: 10px;
}

.widget-details {
    display: flex;
    color: var(--green-color);
}

.widget__counter--price {
    color: var(--green-color);
}


@media (min-width: 768px) {
    .widget-container {
        display: flex;
    }
}