@import "../../variables.css";

.alert-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.success-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #D4F8E8;
  border: 1px solid #00AB66;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;


}

.success-message {
  color: #00AB66;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.alert-title {
  color: var(--green-color);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.alert-code {
  color: var(--text-color);
  font-size: 1.1rem;
}