footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 100%;
    margin-top: 80px;
    padding: 10px;
    background-color: #000;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    list-style: none;
    color: #fff;
}

