@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Mulish:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Mulish:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}
