:root {
    --main-color: #1E55B3;
    --secondary-color: #FF585F;
    --secondary-color-pale: #fae7e8;
    --secondary-color-pale-b: #fae7e8a2;
    --text-color: #6d7f91;
    --text-color-hover: #4a71982d;
    --green-color: #00ab66;
    --white-color: #fff
  }